In [84]:
pip install mysql-connector-python sqlalchemy pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\kishor\appdata\roaming\python\python313\site-packages (9.5.0)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.43)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: greenlet>=1 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import kagglehub

path = kagglehub.dataset_download("amruthayenikonda/dirty-dataset-to-practice-data-cleaning")

print("Path to dataset files:", path)

Downloading to C:\Users\kishor\.cache\kagglehub\datasets\amruthayenikonda\dirty-dataset-to-practice-data-cleaning\1.archive...

100%|██████████| 1.21k/1.21k [00:00<00:00, 334kB/s]

Extracting files...
Path to dataset files: C:\Users\kishor\.cache\kagglehub\datasets\amruthayenikonda\dirty-dataset-to-practice-data-cleaning\versions\1

In [2]:
import os

dataset_path = r"C:\Users\kishor\.cache\kagglehub\datasets\amruthayenikonda\dirty-dataset-to-practice-data-cleaning\versions\1"

os.listdir(dataset_path)

['my_file (1).csv']

In [14]:
#STRUCTURE AND OVERVIEW
import pandas as pd

df = pd.read_csv(os.path.join(dataset_path, os.listdir(dataset_path)[0]))

df.head()
df.tail()
df.sample()
df.shape
df.info()
df.describe()
df.describe(include = "object")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual gross                      20 non-null     object
 4   Adjusted gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Average gross,Ref.
count,9,6,20,20,20,20,20,20,20
unique,7,6,20,20,9,20,16,20,20
top,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2013–2014,"$13,928,571",[1]
freq,2,1,1,1,4,1,3,1,1

In [18]:
df.columns
df.index
df.dtypes

Rank                                 int64
Peak                                object
All Time Peak                       object
Actual gross                        object
Adjusted gross (in 2022 dollars)    object
Artist                              object
Tour title                          object
Year(s)                             object
Shows                                int64
Average gross                       object
Ref.                                object
dtype: object

In [24]:
#Missing Value
df.isna
df.isnull
df.notna
df.isna().sum()

Rank                                 0
Peak                                11
All Time Peak                       14
Actual gross                         0
Adjusted gross (in 2022 dollars)     0
Artist                               0
Tour title                           0
Year(s)                              0
Shows                                0
Average gross                        0
Ref.                                 0
dtype: int64

In [35]:
df.fillna(0)

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],0,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],0,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,0,0,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,0,0,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,0,0,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,0,0,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,0,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,0,0,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],0,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],0,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,0,0,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,0,0,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,0,0,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,0,0,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,0,0,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

In [61]:
df.columns = (df.columns
              .str.strip()                           # Remove whitespace
              .str.lower()                           # Convert to lowercase
              .str.replace('_', '') )                # Replace spaces

df = df.rename(columns={
    'actualgross': 'actual_gross',
    'adjustedgross2022': 'adjusted_gross_2022',
    'alltimepeak': 'all_time_peak',
    'tourtitle' : 'tour_title',
    'averagegross' : 'average_gross'
})

df.head()

,rank,peak,all_time_peak,actual_gross,adjusted_gross_2022,artist,tour_title,years,shows,average_gross,ref
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

In [83]:
#Data(Value) Modification
money_cols = ["actual_gross","adjusted_gross_2022","average_gross"]

for col in money_cols:
    df[col] = (
        df[col]
        .replace(r"[\$,]", "", regex=True)
    )

df["all_time_peak"] = (
    df["all_time_peak"]
    .astype(str)
    .str.extract(r"(\d+)")
)

df["years"] = df["years"].str.replace("–", "-", regex=False)

df["start_year"] = df["years"].str.split("-").str[0].astype(int)
df["end_year"] = (
    df["years"].str.split("-").str[1]
    .fillna(df["start_year"])
    .astype(int)
)

df["tour_title"] = df["tour_title"].str.replace(r"\[.*?\]", "", regex=True).str.strip()
df.drop(columns="ref", inplace=True)

df.head()

,rank,peak,all_time_peak,actual_gross,adjusted_gross_2022,artist,tour_title,years,shows,average_gross,start_year,end_year
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour †,2023-2024,56,13928571,2023,2024
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,2023,2023
2,3,1[4],2,411000000,560622615,Madonna,Sticky & Sweet Tour ‡,2008-2009,85,4835294,2008,2009
3,4,2[7],10,397300000,454751555,Pink,Beautiful Trauma World Tour,2018-2019,156,2546795,2018,2019
4,5,2[4],NaN,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,2018,2018

In [82]:
df["ref"].dropna()
df.head()

,rank,peak,all_time_peak,actual_gross,adjusted_gross_2022,artist,tour_title,years,shows,average_gross,ref,start_year,end_year
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour †,2023-2024,56,13928571,[1],2023,2024
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,[3],2023,2023
2,3,1[4],2,411000000,560622615,Madonna,Sticky & Sweet Tour ‡,2008-2009,85,4835294,[6],2008,2009
3,4,2[7],10,397300000,454751555,Pink,Beautiful Trauma World Tour,2018-2019,156,2546795,[7],2018,2019
4,5,2[4],NaN,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,[8],2018,2018

In [96]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:Kishor%402003@localhost:3306/retail"
)

df.to_sql(
    name="concert_tours",
    con=engine,
    if_exists="replace",
    index=False
)

engine.connect()
print("Connected successfully!")

Connected successfully!